
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste de course</title>
        <script src="vuev2_6_10.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <style>
        li.selected 
        {
            text-decoration-line: underline;
            text-decoration-color: forestgreen;
        }
    </style>
    <body>
        <div id="app">
            <header>
                <h1>{{ title }}</h1>
            </header>
            <div>
                <ul>
                    <li v-for="item in items">
                        <span>{{ item.label }}</span>
                        <input type="number" v-model="item.qty" min="0" max="10" />
                        <i class="fa fa-trash" v-on:click="removeItem(item)"></i>
                    </li>
                </ul>
                <div v-if="showAddmenu">
                    <ul>
                        <li v-for="choicesItem in choicesItems" v-on:click="selectItem(choicesItem)" v-bind:class="{selected: choicesItem.selected}">{{ choicesItem.label }}</li>
                    </ul>
                    <button v-on:click="pushItems">Ajouter ces items</button>
                </div>
                <div>
                    <button v-on:click="switchAddMenu">{{ btnSwitchLabel }}</button> - <button v-on:click="clearItems">Clear</button>
                </div>
                <div>
                    <button v-on:click="saveItems">Save</button> - <button v-on:click="loadItems">Load</button>
                </div>
                <div>
                    <button v-on:click="loadChoicesItem">Charger les choix</button>
                </div>
            </div>
            <footer>
                <div>vrx 2020</div>
            </footer>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    title: 'Ma liste d\'items',
                    items: [],
                    choicesItems: [],
                    choicesItemsUrl: 'choicesItems.json',
                    showAddmenu: false,
                    btnSwitchLabel: 'Ajouter des items'
                },
                methods: {
                    switchAddMenu: function() {
                        this.showAddmenu = !vm.showAddmenu
                        this.btnSwitchLabel = (vm.showAddmenu) ? 'Fermer' : 'Ajouter des items';
                    },
                    hideAddMenu: function() {
                        this.showAddmenu = false;
                        this.btnSwitchLabel = (vm.showAddmenu) ? 'Fermer' : 'Ajouter des items';
                    },
                    selectItem: function(choicesItem) {
                        choicesItem.selected = !choicesItem.selected;
                    },
                    removeItem: function(item) {
                        var newItems = [];
                        for (currentItem of this.items) {
                            if (currentItem.label != item.label) {
                                newItems.push(currentItem);
                            }
                        }
                        this.items = newItems;
                        this.saveItems();
                        this.refreshChoicesItems();
                    },
                    clearItems: function() {
                        this.items = [];
                        this.hideAddMenu();
                        this.saveItems();
                        this.refreshChoicesItems();
                    },
                    pushItems: function() {
                        for (choicesItem of this.choicesItems) {
                            if (choicesItem.selected && !this.inItemsList(choicesItem)) {
                                this.items.push(choicesItem);
                            }
                        }
                        this.hideAddMenu();
                        this.clearSelection();
                        this.saveItems();
                        this.refreshChoicesItems();
                    },
                    saveItems: function() {
                        localStorage.setItem('items', JSON.stringify(this.items));
                    },
                    loadItems: function() {
                        this.items = JSON.parse(localStorage.getItem('items'));
                        this.refreshChoicesItems(this.items);
                    },
                    clearSelection: function() {
                        for (choicesItem of this.choicesItems) {
                            choicesItem.selected = false;
                        }
                    },
                    refreshChoicesItems: function(items) {
                        newChoicesItems = [];
                        for (choicesItem of this.choicesItems) {
                            if (!this.inItemsList(choicesItem)) {
                                newChoicesItems.push(choicesItem);
                            }
                        }
                        this.choicesItems = newChoicesItems;
                    },
                    loadChoicesItem: function() {
                        axios.get(this.choicesItemsUrl)
                            .then(function(response) {
                                for (item of response.data) {
                                    vm.choicesItems.push(item);
                                }
                            });
                    },
                    inItemsList: function(item) {
                        for (currentItem of this.items) {
                            if (item.label == currentItem.label) {return true;}
                        }
                        return false;
                    }
                },
                created: function() {
                    this.loadChoicesItem();
                    this.loadItems();
                },
                watch: {
                    item: function() {
                        this.saveItems();
                    }
                }
            })
        </script>
    </body>
</html>
